.wrapper {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.square {
		display: block;
		width: 100px;
		height: 100px;
		background-color: #000;
		border-radius: 20px;
	}
}
